<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0">
  <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>

  {{ $style := resources.Get "main.css" | postCSS | minify | fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
  <meta property="og:title" content="OCaml Syntax">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{- .Permalink -}}">
  <meta property="og:description" content="A friendly cheatsheet.">
  <meta name="twitter:creator" content="{{- .Site.Params.tweeter -}}">
  <meta name="twitter:card" content="summary">
</head>
<body>
  <header id="header"><h1>{{.Site.Title}}</h1><h2>a cheat sheet</h2></header>
  <div id="content">{{ block "main" . }}{{ end }}</div>
  <footer><a href="https://ianthehenry.com">Ian Henry</a> did this</footer>
</body>
</html>
