/* Basics */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  word-wrap: break-word;
  font-weight: lighter;
  background-color: #407fbf;
  max-width: 600px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  max-width: 750px;
  padding: 2em 1em;
  -webkit-text-size-adjust: 100%;
}

pre {
  word-wrap: normal;
}

em {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
}

h1 del {
  position: relative;
}

h1 > a:only-child, h2 > a:only-child {
  display: block;
}

h1 del::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 50%;
  border-bottom: 2px solid;
}

strong {
  font-weight: bold;
}

ol, ul {
  padding-left: 1.2em;
}

ul ul, ol ol {
  padding-left: 2em;
}

hr {
  border-style: solid;
  border-width: 1.5px 0 0 0;
  border-radius: 1px;
}

:not(pre) > code {
  white-space: pre;
}

li {
  padding-left: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote {
  padding: 0 1em;
  border-left-width: 2px;
  border-left-style: solid;
}

aside {
  padding: 0.5em;
  border-radius: 5px;
}

h1 { font-size: 130%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }

#content *+p,
#content *+pre,
#content *+aside,
#content *+section,
#content *+article,
#content *+blockquote,
#content *+table,
#content *+div,
#content *+ul,
#content *+ol,
#content *+dl,
#content *+hr,
#content *+h1,
#content *+h2,
#content *+h3,
#content *+h4,
#content *+h5,
#content *+h6 {
  margin-top: 1em;
}

#content li > ul:last-child {
  margin-top: 0;
}

code {
  font-family: Menlo, Monaco, Courier, monospace;
  padding: 0 3px;
  border-radius: 2px;
}

pre {
  padding: 1em;
  border-radius: 5px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

pre code {
  padding: 0;
  display: inline-block;
}

p + p {
  margin-top: 1em;
}

/* Layout */

#footer {
  padding: 1.8em 0;
  font-size: 0.85em;
  text-align: center;
}

#footer::before {
  margin-bottom: 1.8em;
  content: "";
  display: block;
  border-top: solid 1.5px;
  border-radius: 1px;  
}

h1 {
  font-size: 150%;
  margin-bottom: 0;
}

header {
  border-left: solid 2px #9fbfdf;
  padding-left: 1em;  
  margin-bottom: 2em;
}

h1, h2 {
  font-weight: lighter;
}

header h2 {
  font-size: 120%;
}

footer {
  border-top: solid 2px #9fbfdf;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  font-size: 75%;
}

a, a:visited, a:active {
  color: #fff;
}


pre {
  background-color: #1d1f21;
}

.highlight .hll { background-color: #373b41 }
.highlight  { color: #c5c8c6 }
.highlight .c { color: #969896 } /* Comment */
.highlight .err { color: #cc6666 } /* Error */
.highlight .k { color: #b294bb } /* Keyword */
.highlight .l { color: #de935f } /* Literal */
.highlight .n { color: #c5c8c6 } /* Name */
.highlight .o { color: #8abeb7 } /* Operator */
.highlight .p { color: #c5c8c6 } /* Punctuation */
.highlight .cm { color: #969896 } /* Comment.Multiline */
.highlight .cp { color: #969896 } /* Comment.Preproc */
.highlight .c1 { color: #969896 } /* Comment.Single */
.highlight .cs { color: #969896 } /* Comment.Special */
.highlight .gd { color: #cc6666 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #c5c8c6; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #b5bd68 } /* Generic.Inserted */
.highlight .gp { color: #969896; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #b294bb } /* Keyword.Constant */
.highlight .kd { color: #b294bb } /* Keyword.Declaration */
.highlight .kn { color: #8abeb7 } /* Keyword.Namespace */
.highlight .kp { color: #b294bb } /* Keyword.Pseudo */
.highlight .kr { color: #b294bb } /* Keyword.Reserved */
.highlight .kt { color: #f0c674 } /* Keyword.Type */
.highlight .ld { color: #b5bd68 } /* Literal.Date */
.highlight .m { color: #de935f } /* Literal.Number */
.highlight .s { color: #b5bd68 } /* Literal.String */
.highlight .na { color: #81a2be } /* Name.Attribute */
.highlight .nb { color: #c5c8c6 } /* Name.Builtin */
.highlight .nc { color: #f0c674 } /* Name.Class */
.highlight .no { color: #cc6666 } /* Name.Constant */
.highlight .nd { color: #8abeb7 } /* Name.Decorator */
.highlight .ni { color: #c5c8c6 } /* Name.Entity */
.highlight .ne { color: #cc6666 } /* Name.Exception */
.highlight .nf { color: #81a2be } /* Name.Function */
.highlight .nl { color: #c5c8c6 } /* Name.Label */
.highlight .nn { color: #f0c674 } /* Name.Namespace */
.highlight .nx { color: #81a2be } /* Name.Other */
.highlight .py { color: #c5c8c6 } /* Name.Property */
.highlight .nt { color: #8abeb7 } /* Name.Tag */
.highlight .nv { color: #cc6666 } /* Name.Variable */
.highlight .ow { color: #8abeb7 } /* Operator.Word */
.highlight .w { color: #c5c8c6 } /* Text.Whitespace */
.highlight .mf { color: #de935f } /* Literal.Number.Float */
.highlight .mh { color: #de935f } /* Literal.Number.Hex */
.highlight .mi { color: #de935f } /* Literal.Number.Integer */
.highlight .mo { color: #de935f } /* Literal.Number.Oct */
.highlight .sb { color: #b5bd68 } /* Literal.String.Backtick */
.highlight .sc { color: #c5c8c6 } /* Literal.String.Char */
.highlight .sd { color: #969896 } /* Literal.String.Doc */
.highlight .s2 { color: #b5bd68 } /* Literal.String.Double */
.highlight .se { color: #de935f } /* Literal.String.Escape */
.highlight .sh { color: #b5bd68 } /* Literal.String.Heredoc */
.highlight .si { color: #de935f } /* Literal.String.Interpol */
.highlight .sx { color: #b5bd68 } /* Literal.String.Other */
.highlight .sr { color: #b5bd68 } /* Literal.String.Regex */
.highlight .s1 { color: #b5bd68 } /* Literal.String.Single */
.highlight .ss { color: #b5bd68 } /* Literal.String.Symbol */
.highlight .bp { color: #c5c8c6 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #cc6666 } /* Name.Variable.Class */
.highlight .vg { color: #cc6666 } /* Name.Variable.Global */
.highlight .vi { color: #cc6666 } /* Name.Variable.Instance */
.highlight .il { color: #de935f } /* Literal.Number.Integer.Long */
